name: Sample action on Issue creation
on:
 issues: 
   types: [opened]

jobs:
  handle-new-issue:
    runs-on: ubuntu-latest
    steps:
      - name: Print issue details
        run: |
          echo "Issue title: ${{ github.event.issue.title }}"
